@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
  
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}


.logo{
  font-size: 30px !important;
}

.textJustify{
  text-align: justify;
}

footer{
 /* position: fixed; */
 bottom: 10px;
}

.MyName{
  font-family: 'Pacifico', cursive;
}
.rightdir{
  float: right;
}
.leftdir{
  float: left;
}

.centerdiv{
  margin: auto;
 
 
}

/* If the browser window is 600px or smaller, the background color will be lightblue: */
@media only screen and (max-width: 600px) {
  body {
    margin-top: -21px;
  }
  .card{
    margin-bottom: 10px;
  }
  .rightnav {
    margin-right: 0px !important;
    margin-top: 10px !important;
  }
  
}

.py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 2.5rem !important;
}

.card-header{
  background-color: #2E2EFF;
  color: white;
}
.bg-dark {
  --bs-bg-opacity: 1;
  background-color: #2E2EFF !important;
}

div a{
  color: #ffffff;
}

a:hover {
  color: #0e0b80;
}

.rightnav{
  margin-right: 30%;
}



.TextColorChange{
color: #0e0b80;
}

.FourStyle{
  width:800px;
  height: auto;
  margin: 0 auto;
}

.textCenter{
  margin: 0 auto;
  text-align: center;
}