@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
  
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}


.logo{
  font-size: 30px !important;
}

.textJustify{
  text-align: justify;
}

footer{
 /* position: fixed; */
 bottom: 10px;
}

.MyName{
  font-family: 'Pacifico', cursive;
}